module.exports = {

    bot: {
        username: '',
        prefix: '!',
        
        token:  '',
        secret: '',
        clientId:  '',
    },

    permissions: {
        validPerms: ['broadcaster', 'moderator', 'subscriber', 'vip', 'turbo', 'bits'],
        exempt: ['broadcaster'],
    },

    channels: ["chezgamain"],

}